$mobil-max: 767px;
$tablet: 768px;
$tablet-max: 991px;
$desktop: 992px;

body{
    background-color: red;
}
.tablet{
    display: none;
}
@media (min-width: $tablet) /*AND (max-width: $tablet-max)*/{
    body{
        background-color: yellow;
    }
    .tablet{
        display: block;
    }
}
/*@media (min-width: $desktop){
    body{
        background-color: blue;
    }
} */