body{
    background-color: blanchedalmond;
}

#effets div{
    background: red;
    width: 30px;
    height: 40px;
    margin: 2px;
    float: left;
}

#tests div{
    background: red;
    height: 100px;
    margin: 2px;
}